<template>
    <div id="maincontent">
        <h1>{{ category.name }}</h1>
        <ul>
            <router-link tag="li" :to="{ name: 'subCategoryShow', params: { id: sub_category.id }}" v-if="category" v-for="sub_category in category.sub_category" :key="sub_category.id"><a>{{ sub_category.name }}</a></router-link>
        </ul>
    </div> 
</template>

<script>
export default {
    computed: { 
        category() {
            const categories = this.$store.getters.getCategories
            for (const category of categories) {
                if (category.id == this.$route.params.id) {
                    return category
                }
            }
            return false
        },
        // subcategory() {
        //     const subcategories = this.$store.getters.getsubCategories
        //     for (const subcategory of subcategories) {
        //         if (subcategory.id == this.$route.params.id) {
        //             return subcategory
        //         }
        //     }
        //     return false
        // },
    }, 
    // mounted() {
    //     this.$store.dispatch('setSubCategories')
    // }     
}
</script>