
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// .grid-container {
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: 1fr 1fr 1fr;
//   grid-template-areas: "header" "nav" "maincontent";
// }

// #header {
//   grid-area: header;
//   border: 1px solid black;
//   padding: 10px;
// }

// #nav {
//   grid-area: nav;
//   padding: 10px;
//   border: 1px solid black;
// }

// #maincontent{
//   grid-area: maincontent;
//   border: 1px solid black;
//   padding: 10px;
// }

// #maincontent h1{
//   grid-area: maincontentheader;
// }

// #adcontent{
//   margin: 10px;
// }

// #maincontent.adlist{
//   grid-area: maincontent;
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-auto-rows: repeat(auto-fill, 120px);
//   grid-template-areas: "adlistitem .";
// }

// .adlistitem{
//   grid-area: adlistitem; 
//   border: 1px solid black;
//   padding: 10px;
// }

// #adcontent{
//   grid-area: maincontent;
//   border: 1px solid black;
//   padding: 10px;
// }

.advertthumb {
    border: 1px solid black;
}