<template>
  <div>
    <h1>Make advert!</h1>  
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group id="input-group-1" label="Status:" label-for="input-7">
            <b-form-select id="input-7" v-model="form.status_advertisement_id" :options="statusad" value-field="id" text-field="name" class="mb-3"></b-form-select>
        </b-form-group>

        <b-form-group id="input-group-6" label="Condition:" label-for="input-6">
            <b-form-select id="input-6" v-model="form.condition_id" :options="conditions" value-field="id" text-field="condition" class="mb-3"></b-form-select>
        </b-form-group>

        <b-form-group id="input-group-1" label="Title:" label-for="input-1">
            <b-form-input
                id="input-1"
                v-model="form.title"
                required
                placeholder="Title of your advert"
            ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Discription:" label-for="input-2">
            <b-form-textarea
                id="input-2"
                v-model="form.discription"
                required
                placeholder="Enter discription"
                rows="3"
                max-rows="6"
            ></b-form-textarea>
        </b-form-group>

        <b-form-group id="input-group-3" label="Asking-price:" label-for="input-3">
            <b-form-input
                id="input-3"
                v-model="form.askingprice"
                required
                placeholder="Asking-price"
            ></b-form-input>
        </b-form-group>
        
        <b-form-group id="input-group-8" label="Images:" label-for="input-8">
            <b-form-file            
                id="input-8"
                v-model="form.images"
                accept="image/*"
                :state="Boolean(form.images)"
                placeholder="Choose an image..."
                drop-placeholder="Drop file here..."
                multiple
            ></b-form-file>
        </b-form-group>

        <b-form-group id="input-group-4" label="Category:" label-for="input-4">
            <b-form-select id="input-4" v-model="form.category_id" :options="categories" value-field="id" text-field="name" class="mb-3"></b-form-select>
        </b-form-group>
        
        <b-form-group id="input-group-5" label="Sub category:" label-for="input-5">
            <b-form-select id="input-5" v-model="form.sub_category_id" :options="subcategories" value-field="id" text-field="name" class="mb-3"></b-form-select>
        </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
</template>

<script>
  export default {
    mounted(){
        this.$store.dispatch('setConditions')
        this.$store.dispatch('setStatusAdvertisements')
    },
    data() {
      return {
        form: {
            user_id: '1',
            title: '',
            discription: '',
            askingprice: '',
            category_id: '1',
            sub_category_id: '',
            condition_id: '1',
            status_advertisement_id: '1',
            images: ''             
        },
        show: true,
      }
    },
    computed: {
        categories(){
            return this.$store.getters.getCategories
        },

        subcategories(){
            for (const category of this.categories) {
                if (category.id == this.form.category_id) {
                    this.form.sub_category_id = category.sub_category[0].id
                    return category.sub_category
                }
            }

        },

        conditions(){
            return this.$store.getters.getConditions
        },

        statusad(){
            return this.$store.getters.getStatusAdvertisements
        }
    },
    methods: {
        onSubmit(evt) {
            evt.preventDefault()
            var formData = new FormData()

            for(const obj in this.form){
                formData.append(obj, this.form[obj])
            }

            for( var i = 0; i < this.form.images.length; i++ ){
                let image = this.form.images[i];
                formData.append('images[' + i + ']', image);
            }

            this.$store.dispatch('CreateAdvertisement', formData)
            
        },
        onReset(evt) {
            evt.preventDefault()
            // Reset our form values
            this.form.title = ''
            this.form.discription = ''
            this.form.askingprice = ''         
            // Trick to reset/clear native browser form validation state
            this.show = false
            this.$nextTick(() => {
            this.show = true
            })
        },
    },
  }
</script>