<template>
    <b-container v-if="Object.keys(advertisement).length">
        <b-row>
            <b-col cols="8">
                <h2>{{ advertisement.title }}</h2>
                <lingallery v-if="imageItems" :width="images.width" :height="images.height" :items="imageItems"/>
            </b-col>
            <b-col>
                <b-row>
                    <h2>Offers:</h2>
                </b-row>
                <b-row>
                    <b-form @submit="onSubmit">
                        <b-input-group prepend="€">
                            <b-form-input 
                                v-model="offer.bid" 
                                placeholder="Enter your offer" 
                                type="number" 
                                :state="CheckOffer" 
                                aria-describedby="input-live-feedback">
                            </b-form-input>
                            <b-button type="submit" variant="primary">Submit</b-button>
                            <!-- <b-form-invalid-feedback id="input-live-feedback">Your offer must be higher then last offer</b-form-invalid-feedback> -->
                        </b-input-group>
                        
                    </b-form>
                </b-row>
                <b-row>
                    <ul v-if="advertisement.offer.length">
                        <li v-for="offer in advertisement.offer.slice().reverse()" :key="offer.id">€ {{ formatPrice(offer.bod) }} <em>({{ offer.user.username }})</em></li>
                    </ul>
                </b-row>
            </b-col>
        </b-row>
        
        <b-row>
            <p>Discription: {{ advertisement.discription }}</p>
        </b-row>
        <b-row>
            <p>Asking-price: € {{ formatPrice(advertisement.askingprice) }}</p>
        </b-row>
        <b-row>
            <p v-if="advertisement.condition">Condition: {{ advertisement.condition.condition }}</p>
        </b-row>
        <b-row>
            <p v-if="advertisement.user">Seller: {{ advertisement.user.name }} {{ advertisement.user.surname }}</p>
        </b-row>
    </b-container>
</template>

<script> 
export default { 
    data () {
        return {
            images:{
                width: 500,
                height: 250
            },
            offer:{
                bid: ''
            },
            timer: 0,
        }
    },

    computed: { 
        advertisement() {
            return this.$store.getters.getAdvertisements
        },
        
        imageItems(){
            if (!this.advertisement.image) return false
            return this.advertisement.image.map(function(name){
                return {'src': "/storage/normal/" + name.name, 'thumbnail': "/storage/thumb/" + name.name}
            })
        },

        CheckOffer(){
            if(!this.offer.bid) return null
            if(!this.advertisement.offer.length) return true
            return this.offer.bid <= this.advertisement.offer[this.advertisement.offer.length - 1].bod ? false : true
        },
    },

    methods: {
        onSubmit(evt) {
            evt.preventDefault()
            // alert(JSON.stringify(this.offer.bid))
            var formData = new FormData()
            
            formData.append('advertisement_id', this.advertisement.id)
            formData.append('user_id', 1)
            formData.append('bod', this.offer.bid)

            this.$store.dispatch('CreateOffer', formData)
            this.offer.bid = ''
        },

        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        },

        fetchOffer(){
            axios.get(`/api/checkoffer/${this.advertisement.id}`).then(response => {
               this.advertisement.offer = response.data.offer
            });
        },

    },

    mounted() {
        this.timer = setInterval(this.fetchOffer, 60000)

        this.$store.dispatch('setAdvertisements', this.$route.params.id) 
    },

    beforeDestroy: function(){
        clearInterval(this.timer);
    }
}
</script>