<template>
    <div id="category">
        <router-link :to="{ name: 'CategoryShow', params: { id: category.id }}" v-for="category in categories" :key="category.id">{{ category.name }}</router-link>
    </div>
</template>

<script>
export default {
    computed: { 
        categories() {
            return this.$store.getters.getCategories
        }
    },
}
</script>