<template>
    <div id="maincontent">
        <h1>Home page</h1>
        <b-row v-if="laravelData">
            <b-col v-for="advertisement in laravelData.data" :key="advertisement.id" sm="3" class="advertthumb">
                <h4>{{ advertisement.title }}</h4>
                <b-img v-if="advertisement.image" thumbnail fluid  :src="'/storage/normal/' + advertisement.image.name" alt="Image 1"></b-img>
                <p>Discription:<br />{{ advertisement.discription }}</p>
                <p>Asking price: € {{ advertisement.askingprice }}</p>
                <b-link :to="{ name: 'AdvertisementShow', params: { id: advertisement.id }}" :key="advertisement.id">See more!</b-link>
            </b-col>
        </b-row> 

        <pagination :data="laravelData" @pagination-change-page="getResults" align="center" :limit="1">
		</pagination>

    </div>
</template>

<script>
export default {
	data() {
		return {
			// Our data object that holds the Laravel paginator data
			laravelData: {},
		}
	},
    
    methods: {
		// Our method to GET results from a Laravel endpoint
		getResults(page = 1) {
			axios.get(`api/homeadverts?page=${page}`)
				.then(response => {
					this.laravelData = response.data.data;
				});
		}
    },
    
	mounted() {
		// Fetch initial results
		this.getResults();
	},


}
</script>

