<template>
    <b-modal 
        v-if="message"
        v-model="showModal" 
        hide-footer 
        title="Message from Marketplace:" 
        :no-close-on-backdrop="true"
        :no-close-on-esc="true"
        :header-bg-variant="message.state">
        <div class="text-center">
            <h3>{{message.message}}</h3>
        </div>
        <b-button block @click="toggleModal">Oke!</b-button>
    </b-modal>
</template>

<script>
export default {
    data () {
        return {
            showModal: false
        }
    },

    computed: {
        message(){
            if(this.$store.getters.getMessage != ''){
                this.showModal = true
                return this.$store.getters.getMessage
            }
        }
    },

    methods: {
        toggleModal() {
            this.$store.commit('SET_MESSAGE', '')
            this.showModal = !this.showModal
        },
    }
}
</script>

<style>

</style>
