<template>
    <b-container>
    <h1>{{ subcategory.name }}</h1>
        <b-row v-if="subcategory">
            <b-col v-for="advertisement in subcategory.advertisements" :key="advertisement.id" sm="3" class="advertthumb">
                <h4>{{ advertisement.title }}</h4>
                <b-img thumbnail fluid :src="'/storage/normal/' + advertisement.image.name" alt="Image 1"></b-img>
                <p>Discription:<br />{{ advertisement.discription }}</p>
                <p>Asking price: € {{ advertisement.askingprice }}</p>
                <b-link :to="{ name: 'AdvertisementShow', params: { id: advertisement.id }}" :key="advertisement.id">See more!</b-link>
            </b-col>
        </b-row> 
    </b-container>
</template>

<script>
export default {
    computed: { 
        subcategory() {
            return this.$store.getters.getSubCategories
        },
    },

    mounted() {
        this.$store.dispatch('setSubCategories', this.$route.params.id)
    },    
    
    watch: {
    '$route.params.id'(newId, oldId) {
        this.$store.dispatch('setSubCategories', this.$route.params.id)
    }},
}
</script>