<template>
    <b-container>
        <b-row>
            <b-col>
                <router-view name="header"></router-view>
            </b-col>
        </b-row>
        <b-row>
            <b-col>        
                <router-view name="nav"></router-view>
            </b-col>
        </b-row>
        <b-row>
            <b-col>         
                <router-view></router-view>
            </b-col>
        </b-row>
        <b-row>
            <b-col>        
                <router-view name="breadcrumbs"></router-view>
            </b-col>
        </b-row>
        <modal/>
    </b-container>
</template>


<script> 
import Modal from '../components/modal.vue'

export default { 

    components: {
        Modal
    },

    computed: { 
    },

    methods: {
    },
}
</script>