<template>
  <b-breadcrumb :items="items"></b-breadcrumb>
</template>

<script>
  export default {
    
      data() {
        return {
          items: [
            {
              text: 'Home',
              href: '#'
            },
            {
              text: 'Manage',
              href: '#'
            },
            {
              text: 'Library',
              active: true
            }
          ]
        }
      }
    }
  
</script>