<template>
    <div>
        <b-jumbotron header="Script Marketplace" lead="Sell, buy and ask!">
        <b-button variant="primary" href="/advertisement/create">Add advert!</b-button>
        </b-jumbotron>
        
    </div>    
</template>