<template>
    <b-nav pills>
        <b-nav-item :to="{name:'Home'}">Home</b-nav-item>
        <b-nav-item-dropdown v-for="category in categories" :key="category.id"
            id="my-nav-dropdown"
            :text=category.name
            extra-toggle-classes="nav-link-custom"
            left
        >
            <b-dropdown-item v-for="sub_category in category.sub_category" :key="sub_category.id" :to="{ name: 'subCategoryShow', params: { id: sub_category.id }}" >{{ sub_category.name }}</b-dropdown-item>
        </b-nav-item-dropdown>
    </b-nav>
</template>
 
<script>
export default {
    computed: { 
        categories() {
            return this.$store.getters.getCategories
        }
    },


    mounted() {
        this.$store.dispatch('setCategories')
    }    
}
</script>